@use '../util' as *;
.copyright {
	background-color: var(--footer-cpy-color);
	padding: 20px 0;
	.copy-text {
		& > p {
			font-size: 15px;
			line-height: 20px;
			color: #a0a0a0;
			& > a {
				font-size: 15px;
				line-height: 20px;
				text-decoration: none;
				color: #a0a0a0;
			}
		}
	}
}
.footer {
	&__about {
		margin-top: 1.2em;
	}
	&__sub {
		background-color: var(--footer-color);
		padding: 80px 0;
		.sub-desc {
			& > h6 {
				color: #fff;
				font-size: 16px;
				line-height: 20px;
				text-transform: uppercase;
				margin-bottom: 20px;
				border-bottom: 1px solid rgba(23, 54, 88, 0.4);
				padding-bottom: 10px;
				font-weight: bold;
			}
			ul {
				li {
					a {
						text-decoration: none;
						color: #cecece;
						font-size: 14px;
						line-height: 24px;
						margin: 0px 0px 10px 0px;
						display: block;
						&:hover {
							color: #fff;
						}
					}
				}
			}
		}
		.sub-contact {
			& > h6 {
				color: #fff;
				font-size: 16px;
				line-height: 20px;
				text-transform: uppercase;
				margin-bottom: 20px;
				border-bottom: 1px solid rgba(23, 54, 88, 0.4);
				padding-bottom: 10px;
				font-weight: bold;
			}
			ul {
				li {
					a {
						text-decoration: none;
						color: #cecece;
						font-size: 14px;
						line-height: 24px;
						margin: 0px 0px 15px 0px;
						display: block;
						&:hover {
							color: #fff;
						}
						i {
							font-size: 15px;
						}
					}
				}
			}
		}
		.sub-social {
			& > h6 {
				color: #fff;
				font-size: 16px;
				line-height: 20px;
				text-transform: uppercase;
				margin-bottom: 20px;
				border-bottom: 1px solid rgba(23, 54, 88, 0.4);
				padding-bottom: 10px;
				font-weight: bold;
			}
			& > p {
				font-size: 14px;
				line-height: 24px;
				color: #cecece;
			}
		}
	}
	&__contact {
		padding: 50px;
		max-width: 1000px;
		margin: 0 auto;
		border-radius: 10px;
		background: #fff;
		position: absolute;
		left: 0;
		right: 0;
		top: -60px;
		box-shadow: 0px -1px 41px 0px rgb(21 22 23 / 8%);
	}
	&__form {
		display: flex;
		& > input {
			width: 100%;
			height: 55px;
			font-size: 16px;
			border: none;
			background: transparent;
			border-radius: 8px 0px 0px 8px;
			border: 1px solid #eeeeee;
			color: #060606;
			line-height: 24px;
			padding: 15px 20px;
		}
		& > button {
			background: var(--primary-color);
			border: none;
			color: #fff;
			padding: 16px 30px;
			font-size: 16px;
			cursor: pointer;
			font-weight: 600;
			border-radius: 0 8px 8px 0;
		}
	}
	&__heading {
		color: var(--heading-color);
		font-family: $secondary-font;
		font-weight: 600;
		line-height: 40px;
		font-size: 35px;
	}
	&__desc {
		font-size: 15px;
		color: var(--font-color);
		letter-spacing: 1px;
	}
}
.form-control:focus {
	outline: 0;
	border: #91e6c4;
	box-shadow: 0 0 0 0.2rem rgb(46 202 139 /25%);
}
.mt-columns {
	margin-top: 120px;
}
.columns-2 {
	margin-top: 1.2em;
}
.border-about {
	border-left: 1px solid rgb(64 73 82 / 51%);
}
.w3__footer {
	.social {
		display: flex;
		align-items: center;
		gap: 20px;
		li {
			a {
				display: flex;
				align-items: center;
				justify-content: center;
				color: #fff;
				width: 35px;
				height: 35px;
				background: rgba(255, 255, 255, 0.06);
				text-decoration: none;
				border-radius: 50%;
				text-align: center;
				&:hover {
					opacity: 0.8;
					transition: 0.3s ease;
				}
			}
		}
	}
}
@media (max-width: 991px) {
	.footer__contact {
		margin: 0 2em;
	}
}
@media (max-width: 768px) {
	.w3__forms .footer__form button {
		width: 30%;
	}
	.w3__footer .mt-columns {
		margin-top: 150px;
	}
	.footer__contact {
		top: -78px;
	}
}

@media (max-width: 480px) {
	.w3__forms h4.footer__heading {
		font-size: 30px;
	}
}

@media (max-width: 440px) {
	.w3__forms .footer__form {
		flex-wrap: wrap;
	}
	.w3__forms .footer__form button {
		width: 100%;
		margin-top: 1em;
	}
	.w3__forms .footer__form button {
		padding: 15px 30px;
		border-radius: 4px;
	}
	.w3__forms form.footer__form input {
		border-radius: 4px;
	}
	.w3__forms h4.footer__heading {
		margin-bottom: 10px;
	}
	.w3__forms .footer-midd,
	.w3__forms .footer-midd-2 {
		padding: 0;
	}
	.w3__footer .mt-columns {
		margin-top: 240px;
	}
	.footer__contact {
		padding: 40px;
	}
}

@media (max-width: 360px) {
	.w3__footer .mt-columns {
		margin-top: 300px;
	}
}

@media (max-width: 320px) {
	.w3__forms h4.footer__heading {
		font-size: 26px;
		line-height: 31px;
	}
}
