.team {
	&__heading {
		max-width: 700px;
	}
	&__title {
		font-size: 40px;
		line-height: 50px;
		font-weight: 600;
		position: relative;
		& > span {
			color: var(--secondary-color);
		}
		&::after {
			content: '';
			position: absolute;
			width: 60px;
			height: 2px;
			background: var(--font-color);
			right: 0;
			margin: 0 auto;
			left: 20px;
			bottom: -15px;
		}
		&::before {
			content: '';
			position: absolute;
			width: 60px;
			height: 2px;
			background: var(--font-color);
			right: 0;
			margin: 0 auto;
			left: -20px;
			bottom: -8px;
		}
	}
	&__item {
		box-shadow: 0 20px 62px var(--box-shadow-color);
		padding: 10px;
		background: #fff;
		border-radius: 8px;
		&:hover {
			.team__bottom {
				.team__name {
					& > a {
						color: var(--secondary-color);
					}
				}
			}
		}
	}
	&__top {
		position: relative;
		overflow: hidden;
		z-index: 1;
		& > a {
			& > img {
				width: 100%;
				border-radius: 8px 8px 0 0;
			}
		}
	}
	&__social {
		& > a {
			background: #fff;
			width: 28px;
			height: 28px;
			display: inline-block;
			border-radius: 50%;
			& > i {
				color: var(--primary-color);
				font-size: 14px;
				line-height: 28px;
			}
			&:hover {
				opacity: 0.8;
			}
		}
	}
	&__info {
		position: absolute;
		bottom: -227px;
		margin: 0;
		background: rgb(8 8 8 / 29%);
		padding: 20px 0;
		transition: 0.5s all;
		-moz-transition: 0.5s all;
		width: 100%;
		text-align: center;
	}
	&__name {
		& > a {
			font-weight: 600;
			color: var(--heading-color);
		}
	}
}
.team__item:hover div.team__info {
	bottom: 0;
}
