@use '../util' as *;

.btn-style {
	padding: 14px 30px;
	font-weight: 600;
	font-size: 16px;
	color: #060606;
	border-radius: 4px;
	background: #fff;
	border: none;
	font-family: $primary-font;
	transition: all 0.25s ease-in-out;
	&:hover {
		background: var(--secondary-color);
		color: #fff;
		transition: 0.3s ease-out;
	}
	&-secondary {
		background: var(--secondary-color);
		color: #fff;
		transition: 0.3s ease-out;
		&:hover {
			background: var(--primary-color);
			color: #fff;
			transition: 0.3s ease-out;
		}
	}
}
