@use '../util' as *;

html {
	box-sizing: border-box;
	font-size: 100%;
	scroll-behavior: smooth;
}
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}
body,
html {
	margin: 0;
	padding: 0;
	background-color: var(--bg-color);
	color: var(--font-color);
	font-family: $secondary-font;
}
body a,
button,
.btn {
	cursor: pointer !important;
}

button,
input,
select,
label,
li,
span {
	-webkit-appearance: none;
	outline: none;
}

iframe {
	border: none;
	display: block;
}
